<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stager Redirect</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/siteprincipal.css' %}">
    <link rel="icon" href="{% static 'imagem/logo.png' %}">

    <script type='text/javascript'>
        var segundos = 10;
        function contagem_tempo(){

            var elem = document.getElementById("linkInutil");
            var numero = document.getElementById("numero");
            numero.innerHTML = segundos;

            segundos = segundos - 1;

            if (segundos == -1) {
                //segundos = 0;
                elem.parentNode.removeChild(elem);
            }

            timerID = setTimeout("contagem_tempo()",1000);
        }

    </script>
</head>
<body onload="contagem_tempo()">

    <div class="row">
        <div class="col-md-12 barra">

            <div class="txttopo">Seu vídeo está carregando</div>

            <div class="caixabotoes">
                <a href="https://www.youtube.com/watch?v=piXRVCRY_ls">
                    <div class="botao">
                    <div class="txtbotao">Sair daqui!</div>
                    </div>
                </a>

                <a id="linkInutil" href="#" onclick="return false;" >
                    <div class="botao">
                        <div class="txtbotao">Falta</div>
                        <div id="numero" class="txtnumero"></div>
                        <div class="txtbotaofinal">seg...</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2">

        </div>

        <div class="col-md-8 centro">
            <iframe class="video" src="https://www.youtube.com/embed/7y-E8D0V5Vk?autoplay=1"></iframe>
        </div>

        <div class="col-md-2">

        </div>

    </div>

</body>
</html>