<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stager Redirect</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/siteprincipal.css' %}">
    <link rel="icon" href="{% static 'imagem/logo.png' %}">

    <script type='text/javascript'>
        var segundos = 10;
        function contagem_tempo(){

            var elem = document.getElementById("linkInutil");
            var numero = document.getElementById("numero");
            numero.innerHTML = segundos;

            segundos = segundos - 1;

            if (segundos == -1) {
                //segundos = 0;
                elem.parentNode.removeChild(elem);
            }

            timerID = setTimeout("contagem_tempo()",1000);
        }

    </script>
</head>
<body onload="contagem_tempo()">

    <div class="row">
        <div class="col-md-12 barra">

            <div class="txttopo">Seu vídeo está carregando</div>

            <div class="caixabotoes">
                <!-- <a href="https://www.youtube.com/watch?v=piXRVCRY_ls">-->
                <a href="{{site.link}}">
                    <div class="botao">
                    <div class="txtbotao">Sair daqui!</div>
                    </div>
                </a>

                <a id="linkInutil" href="#" onclick="return false;" >
                    <div class="botao">
                        <div class="txtbotao">Falta</div>
                        <div id="numero" class="txtnumero"></div>
                        <div class="txtbotaofinal">seg...</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- xoxota do mau -->
            <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-2301135277761747"
                    data-ad-slot="8785981313"></ins>
            <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
        </div>

        <div class="col-md-8 centro">
            <!--<iframe class="video" src="https://www.youtube.com/embed/7y-E8D0V5Vk?autoplay=1"></iframe>-->
            <iframe class="video" src="{{canal.link}}"></iframe>
        </div>

        <div class="col-md-2">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- agoravai -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2301135277761747"
                 data-ad-slot="9283678915"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    </div>

</body>
</html>